<div class="note {{note.class}}" draggable="true"
     ng-click="vm.editNote(note, $index)" ng-style="{'animation-delay':'{{$index}}00ms'}">
  <div class="control">
    <button class="btn btn-default btn-icon note-control pull-left" uib-tooltip="Pin or Unpin"
            ng-class="{'note-pinned':note.pinned}" ng-click="vm.pinCheck(note)">
      <i class="fa fa-thumb-tack" aria-hidden="true"></i>
    </button>
    <button class="btn btn-default btn-icon note-control pull-right" uib-tooltip="Delete Note"
            ng-click="vm.deleteNote($event, note)">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>

  <div class="title">{{note.title}}</div>
  <div class="body" ng-bind-html="note.body"></div>

  <div class="tags">
    <ul class="list-inline">
      <li ng-repeat="tag in note.tags"><span class="label label-default label-transparent">{{tag}}</span></li>
    </ul>
  </div>
</div>
