#notes {
  .top-menu {
    height: 50px;
    line-height: 42px;
    width: 100%;
    background-color: @brand-primary;
    .menu {
      display: table;
      &-left {
        width: 250px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        float: left;
        color: white;
        display: table-cell;
        vertical-align: middle;
        .contacts-title {
          line-height: 47px;
          font-size: 27px;
        }
        > div {
          display: inline-block;
        }
      }
      &-right {
        float: right;
        user-select: none;
        display: table-cell;
        vertical-align: middle;
        .search {
          button{
            position: absolute;
            right:15px;
            top:0;
          }
          input {
            width: auto;
            display: inline-block;
            height: 40px;
            font-size: 18px;
            color: white;
            background-color: rgba(0, 0, 0, 0.2);
            margin-right: 65px;
            margin-top: 5px;
            outline: 0;
            border: 0;
          }
        }
        > div {
          display: inline-block;
        }
        i {
          font-size: 20px;
          margin: 5px;
          color: white;
        }
      }
    }
  }
  .main {
    padding: 25px;
    .pinned, .all, .new {
      .section-header {
        font-size: 25px;
        font-weight: bold;
        margin-top: 20px;
      }
      .notes{
        column-count: 3;
        //very useful VVV
        -webkit-column-break-inside:avoid;
        -moz-column-break-inside:avoid;
        -o-column-break-inside:avoid;
        -ms-column-break-inside:avoid;
        column-break-inside:avoid;
        -webkit-backface-visibility:hidden;
        //very useful ^^^
        @media screen and (max-width: @screen-sm-max){
          column-count: 2;
        }
        @media screen and (max-width: @screen-xs-min){
          column-count: 1;
        }
        .notes-wrapper{
          float:none;
          margin: 0;
          padding: 0;
          border: 0;
          vertical-align: baseline;
          display: inline-block;
          width: 100%;
          .note {
            position: relative;
            padding: 30px 15px 45px 15px;
            margin-bottom: 15px;
            color: white;
            transform: scale(0);
            animation: 0.5s entityLoad;
            animation-fill-mode: forwards;
            .control {
              width: 100%;
              position: absolute;
              display: none;
              left: 0;
              right: 0;
              top: 0;
              button i {
                color: white;
              }
            }
            .title {
              font-size: 18px;
              font-weight: bold;
            }
            .body{

            }
            .tags{
              width:100%;
              text-align: right;
              position: absolute;
              display: none;
              left:0;
              right: 0;
              bottom: 0;
            }
            &:hover {
              .control {
                display: block;
              }
              .tags{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
